* {
  margin: 0;
  padding: 0;
  scrollbar-width: none;
  font-family: 'SourceHanSans', serif;
}

@font-face {
  font-family: 'SourceHanSans';
  src: url("@/assets/fonts/SourceHanSans.otf");
}

@font-face {
  font-family: 'ChillKai';
  src: url("@/assets/fonts/ChillKai.ttf");
}

@font-face {
  font-family: '鸿雷行书简体';
  src: url("@/assets/fonts/鸿雷行书简体.otf");
}
